$box-red: red;
$box-grey: #9B9A98;
$title-margin: 8px;
$font-weight: 300;
$transition-delay: 0.5s;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    font-family: helvetica, sans-serif;
}

.box {
    width: 350px;
    height: 430px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    margin: 50px;
    overflow: hidden;
    transition: all $transition-delay;
}

.box:hover {
    box-shadow: 1px 1px 12px #555;
    .bottom {
        transform: translateY(-65%);
    }
    img {
        transform: scale(1.2, 1.2);
        opacity: 0.5;
    }
}

.top {
    width: 100%;
    height: 260px;
}

img {
    width: 100%;
    transition: all $transition-delay;
}

.date {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    background-color: $box-red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom {
    width: 100%;
    height: 170px;
    position: relative;
    background-color: white;
    padding: 30px;
    transition: all $transition-delay;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
}

.tab {
    position: absolute;
    top: -38px;
    left: 0;
    background-color: $box-red;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
    font-weight: $font-weight;
    margin-bottom: $title-margin;
}

h3 {
    color: $box-red;
    font-weight: $font-weight;
    margin-top: $title-margin;
}

article {
    text-align: justify;
    line-height: 1.5em;
    color: $box-grey;
    margin-top: 30px;
    font-weight: $font-weight;
    transition: all $transition-delay;
}

.icons {
    width: 100%;
    background-color: white;
    display: flex;
    color: $box-grey;
    font-weight: $font-weight;
    // margin-top: 25px;
    padding: 20px 30px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    p {
        margin-right: 15px;
    }
    i {
        margin-right: 5px;
    }
}